<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet2</servlet-name>
        <servlet-class>EditServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issue</servlet-name>
        <servlet-class>Issue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Return</servlet-name>
        <servlet-class>Return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembers</servlet-name>
        <servlet-class>ViewMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Member</servlet-name>
        <servlet-class>Member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDao</servlet-name>
        <servlet-class>MemberDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMember</servlet-name>
        <servlet-class>EditMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMember2</servlet-name>
        <servlet-class>EditMember2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook1</servlet-name>
        <servlet-class>ViewBook1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMember</servlet-name>
        <servlet-class>DeleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issued</servlet-name>
        <servlet-class>Issued</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueDao</servlet-name>
        <servlet-class>IssueDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issued2</servlet-name>
        <servlet-class>Issued2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ALogout</servlet-name>
        <servlet-class>ALogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ULogout</servlet-name>
        <servlet-class>ULogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/ViewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet2</servlet-name>
        <url-pattern>/EditServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issue</servlet-name>
        <url-pattern>/Issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Return</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembers</servlet-name>
        <url-pattern>/ViewMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDao</servlet-name>
        <url-pattern>/MemberDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMember</servlet-name>
        <url-pattern>/EditMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMember2</servlet-name>
        <url-pattern>/EditMember2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook1</servlet-name>
        <url-pattern>/ViewBook1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMember</servlet-name>
        <url-pattern>/DeleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issued</servlet-name>
        <url-pattern>/Issued</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/IssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueDao</servlet-name>
        <url-pattern>/IssueDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issued2</servlet-name>
        <url-pattern>/Issued2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ALogout</servlet-name>
        <url-pattern>/ALogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ULogout</servlet-name>
        <url-pattern>/ULogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
